@import "https//fonts.fontstorage.com/import/beermoney.css";

@import url([url]https://cdn.rawgit.com/exp-ext/style.css);[/url]

span{
  font-family: "Beer money";
}

.block1 {
	font-family: 'Beer money';
	font-size: 50px;
	font-weight: 400;
	line-height: 1em;
	margin: 0px 0px 20px 0px;
	width: 700px;
}
.block2 {
	font-family: 'Beer money';
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5em;
	width: 700px;
}
